@font-face {
  font-family: 'Urbanist';
  src: url('../public/fonts/urbanist-latin-400-normal.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Urbanist';
  src: url('../public/fonts/urbanist-latin-300-normal.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Urbanist';
  src: url('../public/fonts/urbanist-latin-100-normal.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
